body{
	margin: 0;
	padding: 0;
	background-color: #6A24CC;
	color: #FFFFFF;
}

#wrapper {
	width: 100%;
	overflow: hidden;
}

#hero {
	width: 100%;
	height: 700px;
	background-image: url('../img/headshot_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#header {
	width: 100%;
	box-sizing: border-box;
	background: rgba(0,0,0, .5);
	overflow: hidden;
}

#header h1 {
	margin: 10px 0 10px 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 62px;
	color: #FFFFFF;
	float: left;
}


.mainMenu {
	float: right;
	line-height: 112px;
	margin: 0;
}
.mainMenu li {
	list-style: none;
	display: inline-block;
}

.mainMenu li a {
	display:block;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	color: #FFFFFF;
	text-decoration: none;
	width: 200px;
}

.mainMenu li a:hover {
	border-bottom: 5px solid #FFFFFF;
}

#leftColumn {
	float: left;
	max-width: 500px;
}

#rightColumn {
	float:left;
}

